@font-face {
  font-family: "Clash Display";
  src:
    url("/font/ClashDisplay-Variable.woff2") format("woff2"),
    url("/font/ClashDisplay-Variable.woff") format("woff"),
    url("/font/ClashDisplay-Variable.ttf") format("truetype");
  font-weight: 200 700;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  width: 100%;
  max-width: 100%;
}

body {
  background-color: #202020;
  overflow-x: hidden;
  width: 100%;
  max-width: 100%;
  font-family: "Clash Display", sans-serif;
}

h1 {
  color: #eee;
  font-size: 120px;
  font-weight: bold;
}

h3 {
  color: #eee;
}

h4 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #eee;
}

h5 {
  color: #747474;
  font-weight: 500;
  font-size: 1.125rem;
}

span {
  font-size: 1rem;
  font-weight: 400;
}

p {
  font-size: 1.125rem;
  color: #eee;
}

a {
  color: #eee;
}
