.cursor {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent;
  backdrop-filter: blur(5px);
  border: 2px solid whitesmoke;

  position: fixed;
  top: 0;
  left: 0;

  pointer-events: none; 
  transform: translate(-50%, -50%);
  z-index: 9999;
}
